.no-margin {
  margin: 0 !important;
}

.reveal small {
  font-size: 0.5em;
}

.centerimage.centerimage {
  display: block;
  margin: 0 auto 1em;
  max-width: 60%;
}

footer {
  position: fixed;
  bottom: 1em;
  left: 1em;
}

footer a {
  text-decoration: none;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  color: black;
}